aiohttp
dnspython
motor
Pyrogram==2.0.80
pyromod
pornhub-api==0.2.0
TgCrypto
pyproject-toml
youtube-dl
youtube-search-python
youtube-search
yt-dlp
filesplit
pytz
moviepy
filetype
tgcrypto
pyromod
hurry.filesize
git+https://github.com/Snowball-01/mega.py.git
wget
